<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.divemotor.solicitudcredito.mapper.ProformaMapper">

    <cache />
    
    <resultMap id="proformaMap" type="pe.com.divemotor.solicitudcredito.dominio.SolicitudCreditoProforma">
        <result property="numProfVeh" column="NUM_PROF_VEH"/>
        <result property="codMonedaProf" column="COD_MONEDA_PROF"/>
        <result property="numFichaVenta" column="NUM_FICHA_VTA_VEH"/>
        <result property="estadoFichaVenta" column="ind_inactivo"/>
        <result property="nomPerso" column="NOM_PERSO"/>
        <result property="codEstadoCivil" column="COD_ESTADO_CIVIL"/>
        <result property="codTipoPerso" column="COD_TIPO_PERSO"/>
        <result property="tipoPerso" column="TIPO_PERSO"/>
        <result property="indMancomunado" column="IND_MANCOMUNADO"/>
        <result property="numDocuIden" column="NUM_DOCU_IDEN"/>
        <result property="numRuc" column="NUM_RUC"/>
        <result property="dirCorreo" column="DIR_CORREO"/>
        <result property="numTelfMovil" column="NUM_TELF_MOVIL"/>
        <result property="vendedor" column="VENDEDOR"/>
        <result property="valVtaProf" column="VAL_VTA_PROF"/>
        <result property="codSoliCred" column="COD_SOLI_CRED"/>

    </resultMap>

    <select id="listar" statementType="CALLABLE" parameterType="pe.com.divemotor.solicitudcredito.dto.procedure.ListarProformaProcedure" useCache="false">
        {CALL PKG_SWEB_CRED_SOLI.SP_LIST_PROFORMA( 
        #{codClie},
        #{numProfVeh},
        #{codUsuario},
        #{busqueda, mode=OUT, jdbcType=CURSOR, javaType=java.sql.ResultSet, resultMap=pe.com.divemotor.solicitudcredito.mapper.ProformaMapper.proformaMap},
        #{status, mode=OUT, jdbcType=INTEGER, javaType=int},
        #{mensaje, mode=OUT, jdbcType=VARCHAR, javaType=String}
        )}
        
    </select> 

</mapper>
