<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                            http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
                            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
            
    <!-- JDBC -->
    <bean id="datasourceDive" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.oracle.driverClassName}" />
        <property name="url" value="${jdbc.url.sid}" />
        <property name="username" value="${jdbc.oracle.username}" />
        <property name="password" value="${jdbc.oracle.password}" />
    </bean>
        
    <bean id="sqlSessionFactoryDive" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasourceDive" />
        <property name="typeAliasesPackage" value="pe.com.divemotor.fichaventa.dominio" />
    </bean>
        
    <bean id="mapper1" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="pe.com.divemotor.fichaventa.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryDive" />
    </bean>
        
    <bean id="sqlSessionDive" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactoryDive" />
    </bean>
                
</beans>